services:
  - type: web
    name: puppeteer-xing-scraper
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: ./
    plan: free
    healthCheckPath: /health
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3001
